.book_it {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 680px;
  width: 460px;
  left: 130px;
  top: 60px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.712);
  background-color: rgba(12, 12, 12, 0.568);
  box-shadow: 0 0 18px #e9f8ff;
  transition: box-shadow 1s ease;
  h2 {
    padding-top: 5px;
    width: 75%;
    font-family: $body-font;
    color: #ff3355;
  }
  &:hover {
    box-shadow: 0 0 38px #e9f8ff;
  }
}
.navbuts {
  margin: 60px 0px 60px 500px;
  a {
  color: black;
  text-decoration: none;
  }
}
