.page-container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
  }

.footer {
    position: fixed;
    bottom: 0;
    z-index: 5;
    width: 100%;
    background-color: #141a2c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    padding: 0px 50px;
    color: rgba(255, 255, 255, 0.623);
    margin-top: 20px;
  }

  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a {
    color: rgba(255, 255, 255, 0.349);
    text-decoration: none;
    font-size: 20px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    opacity: 1;
  }
  .footer .fa-heart {
    color: #D23333;
  }
