
.navbar-lewagon {
  justify-content: space-between;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 5;
  background: #1a1a2e;
  color: white;
  border-bottom: 3px solid #e94560;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(131, 122, 122);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  padding-right: 20px;
}

.navbar-lewagon .navbar-brand img {
  padding-right: 10px;
  width: 40px;
}

#navbarDropdown {
  cursor: pointer;
}